.section{
  height:38vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* text-align: center; */

  background-size: cover;
  background-repeat: no-repeat;
  /* margin: auto; */
}
.data-heading{
  font-size: 80px;
  display: inline;
  margin: 0;
  align-items: center;
  color: var(--primary-yellow);
}
.data-para{
  width: 80%;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  color: var(--primary-white);
}

/* @media only screen and (max-width:414px){
  .section{
    height: 30vh;
  width: 100%;
  }
  .data-heading{
    font-size: 30px;
  }
  .data-para{
    font-size: 10px;
    width: 95%;
  }
} */