:root {
    --primary-white: #ffffff;
    --primary-yellow:#ffc436;
    --primary-lightYellow:#dfa00a4d;
    --primary-blue:#3a5c86;
    --primary-opacity-black:#00000029;
    --primary-black: #000000;
    --primary-boxshadowC:#cec8c859;
    --primary-darkBlue:#112742;
    --primary-gray:#707070;
  }
 