@import "../../assest/constant/Constant.css";
.footer-container {
  width: 100%;
  height: auto;
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-subcontainer {
  width: 100%;
  height: 45vh;
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.container1 {
  width: 28%;
  height: auto;
}

.container1-p {
  font: normal normal normal 1.375rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-yellow);
  opacity: 1;
}
.container {
  width: 20%;
  height: auto;
}
.container2 {
  width: 30%;
  height: auto;
}
.container3 {
  width: 40%;
  height: 240px;
}
.container3 ul li {
  list-style-type: none;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-left: -2.5rem;
}
.container3 ul {
  height: 11.688rem;
  display: flex;
  gap: 0.925rem;
  flex-direction: column;
}
.container2 ul li {
  list-style-type: none;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-left: -2.5rem;
}
.container2 ul {
  height: 11.688rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-images {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.313rem;
  justify-content: start;
  align-items: center;
}
.footer-image-img {
  width: 8.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 0.625rem;
}
.container ul li {
  list-style-type: none;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-left: -2.5rem;
}
.container ul {
  height: 11.688rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.938rem;
}
.a {
  text-decoration: none;
  color: var(--primary-white);
  font: normal normal normal 1rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-white);
  opacity: 0.7;
}
.a:hover {
  color: var(--primary-yellow);
}
.container-name {
  font: normal normal normal 1.375rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-yellow);
  opacity: 1;
}
.container-p-white {
  font: normal normal normal 1rem/1.375rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-white);
  opacity: 0.7;
}
.footer-last {
  width: 100%;
  height: 8vh;
  background-color: var(--primary-darkBlue);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.footer-last p {
  color: var(--primary-white);
  padding: 0 3%;
}
.container-sub {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-sub {
  width: 400px;
  height: 200px;
}
.subscrib-text {
  text-align: center;
  font: normal normal normal 1.375rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-yellow);
  opacity: 1;
}
.inpute-box-new-latter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.input-new-latter {
  width: 250px;
  height: 30px;
}
.input-new-latter:focus{
  outline: none !important;
}
.new-latter-button {
  width: 100px;
  height: 45px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-yellow);
  border-radius: 5px;
}

/* container bond */
.container-bond {
  width: 25%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  /* background-color: red; */
}

/*----------------- mobile responsive ----------- */
@media only screen and (max-width: 768px) {
  .footer-subcontainer {
    height: auto;
    flex-direction: column;
    gap: 0rem;
  }
  .container1 {
    width: 95%;
    height: auto;
  }
  .container2 {
    width: 30%;
    height: auto;
  }
  .container3 {
    width: 45%;
    height: 240px;
  }
  .container-bond {
    width: 95%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 1rem;
  }
  .container-sub {
    width: 95%;
    height: 110px;
  }
  .container-p-white {
    font: 1rem/1.375rem;
  }
  .footer-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-last p {
    color: var(--primary-white);
    padding: 0 1rem;
    font-size: 11px;
  }
  .input-new-latter {
    width: 200px;
  }
  .new-latter-button {
    width: 80px;
  }
}
