@import "../../assest/constant/Constant.css";
.header {
  width: 100%;
  height: 3.9rem;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
.hide {
  transform: translateY(-100%); /* Hide the navbar by moving it above the viewport */
  transition-duration: 0.25s;
}
.show{
  transition-duration: 0.25s;
}
.Header-link-button {
  display: flex;
  padding: 0 2% 0 0;
}
.Header-link-button ul li {
  list-style-type: none;
}
.Header-link-button ul li .a {
  text-decoration: none;
  cursor: pointer;
  font: normal normal medium 1.25rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-white);
  opacity: 1;
}
.active{
  text-decoration: none;
  cursor: pointer;
  font: normal normal medium 1.25rem/0rem Roboto;
  letter-spacing: 0rem;
  opacity: 1;
  color: var(--primary-yellow);
}
.Header-link-button ul li .a:hover {
  color: var(--primary-yellow);
}
.Header-link-button ul {
  display: flex;
  gap: 0.938rem;
}
.header-name {
  width: auto;
  height: auto;
  padding: 0 2%;
}
.H-name {
  display: block;
  width: 100%;
  height: 2.9rem;
}
.header-button {
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 0.313rem;
  border: none;
  cursor: pointer;
  background: var(--primary-yellow) 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.188rem 0.375rem var(--primary-opacity-black);
  border-radius: 0.313rem;
  opacity: 1;
  font: normal normal bold 0.938rem/0rem Roboto;
  letter-spacing: 0rem;
  color: var(--primary-darkBlue);
  opacity: 1;
}

.menu-container {
  width: auto;
  height: 3.9rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.625em 0 0;
}
.icon-menu {
  font-size: 1.875rem;
  color: white;
  display: none;
  cursor: pointer;
}

/*----------------- mobile responsive ----------- */
@media only screen and (max-width: 768px) {
  .icon-menu {
    display: block;
  }
  .ul-header {
    width: 100%;
    height: auto;
    z-index: 1 ;
    background-color: var(--primary-blue);
    /* background-color: red; */
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 1rem 0;
    transition-duration: 0.25s;
  }
  .toggle {
    top: 5.3vh;
  }
  .Header-link-button ul li {
    width: 95%;
    height: 1.875rem;
    border: 0.0625rem solid white;
    display: flex;
    align-items: center;
    border-radius: 0.5625rem;
    cursor: pointer;
  }
  .Header-link-button ul li .a {
    padding: 0 1rem;
  }
  .Header-link-button ul {
    display: flex;
    gap: 1.5rem;
  }
}
