
/* @media only screen and (min-width:) */
/* Media query for screens with a minimum width of 1600px */
/* 

@media only screen and (min-width: 414px) {
  .Container {
    padding: 20px;
   
  }

  .form-container,
  .map-container {
    width: 100%;
  }

  label {
    margin-bottom: 8px;
  }


  .map-1 {
    width: 100%;
  }

  .box {
    margin: 0px 10px;
    width: 45%;
  }

  .form-inputs {
    font-size: 90%;
    padding: 20px;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}*/
/* /*  */

@media only screen and (min-width: 768px) {
  .Container {
    padding: 30px;
    
    /* flex-wrap: wrap; */
  }
  .Globle-Container{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* flex-wrap:wrap; */
  }

  .form-container,
  .map-container {
    width: 40%;
  }

  label {
    margin-bottom: 10px;
  }

  .map-1 {
    width: 100%;
  }
  
  .boxes{
    /* flex-wrap: wrap; */
    height: 35.5rem;
    background-color: aquamarine;
  }

  .box {
    margin: 0px 20px;
    width: 20%;
  }

  .anchor-box{
    font-size:0.8rem;
  }

  .box-para{
    font-size:12px;
  }

  .form-inputs {
    font-size: 100%;
    padding: 25px;
  }

  input,
  textarea {
    margin-top: 20px;
    margin-bottom: 7px;
  }
}  
/* 
@media only screen and (min-width: 1024px) {
  .Container {
    padding: 30px;
  }

  .form-container,
  .map-container {
    width: 40%;
  }

  label {
    margin-bottom: 10px;
  }

  .map-1 {
    width: 100%;
  }

  .box {
    margin: 0px 20px;
    width: 20%;
  }

  .form-inputs {
    font-size: 100%;
    padding: 25px;
  }

  input,
  textarea {
    margin-top: 20px;
    margin-bottom: 7px;
  }
} */

/* @media only screen and (min-width: 1280px) {
  .Container {
    padding: 30px;
  }

  .form-container,
  .map-container {
    width: 40%;
  }

  label {
    margin-bottom: 10px;
  }

  .map-1 {
    width: 100%;
  }

  .box {
    margin: 0px 20px;
    width: 20%;
  }

  .form-inputs {
    font-size: 100%;
    padding: 25px;
  }

  input,
  textarea {
    margin-top: 20px;
    margin-bottom: 7px;
  }
} */


@media only screen and (min-width: 1600px) {
  .Container {
    padding: 30px;
  }

  .form-container,
  .map-container {
    width: 40%;
  }

  label{
    margin-bottom: 10px;
  }

  

  .map-1{
    width: 100%;
  }

  .box {
   margin: 0px 20px;
    width: 20%;
  }
  .form-inputs {
    font-size: 100%; 
    padding: 25px; 
  }
  input,textarea{
    margin-top: 20px;
    margin-bottom: 7px;
  }
}

/* Media query for screens with a minimum width of 1900px */
@media only screen and (min-width: 1900px) {
  .Container {
    padding: 40px;
  }

  .form-container,
  .map-container {
    width: 35%;
  }
  
  .map-1{
    width: 100%;
  }
  /* .boxes {
    gap: 50px;
  } */

  .box {
    margin: 0px 18px;
    width: 15%;
  }
  .form-inputs {
    font-size: 110%; 
    padding: 30px; 
  }

  input,textarea{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


.Globle-Container{
  width: 100%;
  height: 100vh;
}
.image-container {
  width: 100%;
  height: 20rem;
  position: absolute;
  overflow: hidden;
}


.allpackeges-image {
  width: 100%;
  height:auto;
  object-fit: cover;
  position: absolute;
  bottom: 1px;
}

.text-packges{
  width: 100%;
  /* margin: 70px 0px; */
  margin-bottom: -150px;
 
}

.fade{
  width: 60%;
  margin: auto;
}

.package-para{
  color: var(--primary-white);
}

.contact-container{
  padding: 0px 40px;
}
.contact-heading{
  color:var(--primary-blue);;
  font: bolder;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  margin-bottom:-40px;
  /*padding: 8px 0px; */
}

.Container{
  color: var(--primary-black);
  width:100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 5px;
}


.form-container{
  height: 480px;
  width: 50%;
  align-items:start;
  display: flex;
  /* margin-top: -12px; */
  flex-direction:column;
  padding:20px;
}
.form-para{
  font-size:90%;
  margin: 0;
  width: 90%;
  font-weight:normal;
  line-height: 20px;
  word-spacing: 2px;
}
.form-inputs{
  font-size:90%;
  width: 100%;
  display: flex;
  align-items: start;
  padding:20px 0px ;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  outline: none;
}

.star{
  color:var(--primary-red);
}

 input,textarea{
  padding: 8px 8px;
  width: 90%;
  outline: none;
  background-color: var(--primary-white);
  border: 1px solid rgb(220, 214, 214);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(220, 214, 214,0.2);
}

.form-btn{
  background-color: var(--primary-yellow);
  font-weight:600;
  width: 93%;
  color:  var(--primary-black);
  border: none;
  cursor: pointer;
}

label{
  margin-bottom: -35px;
}

input:focus{
  border: 2px solid var( --primary-blue);
}
textarea:focus{
  border: 2px solid var( --primary-blue);
}

.map-container{
  width: 50%;
  padding: 24px;

  .map{
    margin-top: 12px;
  }

  .map-1{
    width: 100%;

  }

}


.boxes {

  margin-bottom: 30px;
  height: 12.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.box {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  height: 90%;
  width: 30%;
  background: linear-gradient(to right, var(--primary-blue), var(--primary-lightBlue));
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.anchor-box {
  color: var( --primary-white);
  text-decoration: none;
  font-size: 1.25rem;
}

.box-para {
  color: var( --primary-white);
  font-family: Arial, Helvetica, sans-serif;
}

.box-icon {
  height: 80px;
  width: 80px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-yellow);
}

.icons-img {
  height: 40px;
  width: 40px;
}

.box:hover {
  transform: scale(1.1); 
}

