
 .globle{
  height: 100vh;
  width: 100%;
  position:fixed;
  /* background-color: red; */
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  right: 0px;
  /* background-color:var(--primary-black); */
  background: rgba(0, 0,0, 0.7);
   display: flex;
  justify-content: center;
  align-items: center; 
}

.book-form-Container{
  min-height: 450px;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-white);
}
.book-form-heading{
  font-size: 20px;
  color: var(--primary-darkYellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 88%;
}

.cross-btn{
  border: none;
  cursor: pointer;
  color: var(--primary-red);
  background:transparent ;
}

h1{
  margin: 0;
  padding: 0;
}

.book-form-division{
  height: 70%;
  width: 90%;
 padding: 10px;
}

.book-now-form-popup{
  display: flex;
  padding:0px  10px;
  flex-direction: column;
  justify-content: center;
}

.bookNowFormInput{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bookNowFormInputTag,.Budget,.packageBookNowForm{
  outline: none !important;
  border: none !important;
  border-bottom:2px solid var(--primary-gray) !important; 
}
.form-tag-line-2 input{
  width: 45%;
  border: none;
  margin: 20px 0px 7px 0px;
  outline: none;
  border-bottom: 2px solid var(--primary-gray);
  background: transparent;
}
.form-tag-line-1 input{
  width: 45%;
  border: none;
  outline: none;
  background: transparent;
  margin: 20px 0px 7px 0px ;
  border-bottom: 2px solid var(--primary-gray);
}

.packageBookNowForm,.Budget{
  width: 47.8%;
  padding: 6px 4px;
  color: var(--primary-gray);
  margin: 20px 0px 7px 0px ;
  border: none;
  border-bottom: 2px solid var(--primary-gray);
  cursor: pointer;
  background: transparent;

}
/* .Budget{
  width: %;
} */

.form-tag-line-4 input{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--primary-gray);
  margin: 20px 0px 7px 0px ;
  box-shadow: none;
  background: transparent;
}

.form-tag-line-5{
 display: flex;
 flex-direction: column;
  margin: 20px 0px 7px 0px ;

  /* padding: 20px 0px; */
}
.journeyDate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-tag-line-5 input{
  width: 45%;
  border: 2px solid var(--primary-gray)  !important;
  outline: none;
  background: transparent;
}
.journeyDateHeading{
  padding: 5px 5px;
  color: var(--primary-gray);
}
#bookNowSubmitBtn{
  width: 30%;
  padding: 6px 0px;
  border-radius: 3px;
  background-color: var(--primary-yellow);
  cursor: pointer;
  border: none;
}


/* Media query start */
@media only screen and (max-width:768px){
  .book-form-Container{
    height: auto;
    /* padding: 10px 0px; */
    width: 300px;
  }
  .book-form-heading{
    font-size: 8px;
  }
  .bookNowFormInput{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
   
  }
   
.bookNowFormInput input,
.bookNowFormInput .packageBookNowForm {
  padding: 2px 0px;
  width: 90%;
  margin: 12px 0px;
}
  .book-form-division{
    height: 70%;
    width: 90%;
  }
  
  .form-tag-line-1 input{
    width: 90%;
  }
  .form-tag-line-2 input{
    width: 90%;
  }
  .form-tag-line-4 input{
    width: 90%;
    margin: 8px 0px;
  }
 
  div.form-tag-line-5.bookNowFormInput{
    padding: 2px 0px;
      width: 95%;
      margin: 12px  0px ;
     
      
  }
  div.journeyDate{
    width: 105%;
  }
  input#dateofjourney.bookNowFormInputTag{
    width: 92%;
  }
  .journeyDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  #bookNowSubmitBtn{
    width: 100%;
    padding: 6px 0px;
    border-radius: 3px;
    background-color: var(--primary-yellow);
    cursor: pointer;
    border: none;
  }
  
}

@media only screen and (max-width:280px)
{
  .book-form-Container{
    height: auto;
    padding: 10px 0px;
    width: 250px;
  }
  .book-form-heading{
    font-size: 8px;
  }
  .bookNowFormInput{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
  }
  .bookNowFormInput input,
.bookNowFormInput .packageBookNowForm {
  padding: 2px 0px;
  width: 90%;
  margin: 12px 0px;
}

.book-form-division{
    height: 70%;
    width: 90%;
}
  
.form-tag-line-1 input{
    width: 90%;
}
.form-tag-line-2 input{
    width: 90%;
}
  .form-tag-line-4 input{
    width: 90%;
    margin: 8px 0px;
  }
  /* div.form-tag-line-5 input{
    height: auto;
    width: 90%;
    margin: 0px;
  } */
  div.form-tag-line-5.bookNowFormInput{
    padding: 2px 0px;
      width: 95%;
      margin: 12px  0px ;   
  }
  div.journeyDate{
    width: 100%;
  }
  .bookNowFormInputTag{
    width: 98%;
  }
  .journeyDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  #bookNowSubmitBtn{
    width: 100%;
    padding: 6px 0px;
    border-radius: 3px;
    background-color: var(--primary-yellow);
    cursor: pointer;
    border: none;
  }
  
}