
@media (max-width: 768px) {

  /* .Globle-Container{
    overflow-x: hidden;
  } */
  .Container {
    /* flex-direction: column;
     */
     flex-wrap: wrap;
    padding: 0; /* Adjust padding as needed */
  }

  .form-container,
  .map-container {
    width: 100%;
    padding: 10px; 
    /* margin: auto; */
    /* Adjust padding as needed */
  }

  .boxes {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
    margin-bottom: 20px; /* Add space between boxes */
  }
}

/* @media only screen and (max-width:1366px){

}

@media only screen and (max-width:768px){
  .Container{
    flex-wrap: wrap;
  }
 

  .form-container{
    margin:auto ;
    p{
      width: 100%;
    }

  }
  .contact-heading{
    text-align: center;
  }
} */

/* @media only screen and (max-widht:414px){

}
@media only screen and (max-widht:375px){

}
@media only screen and (max-widht:375px){

} */






.Globle-Container{
  width: 100%;
  height: 100vh;
}

.contact-cover{
  height: 500px;

}

.contact-container{
  padding: 0px 40px;
}
.contact-heading{
  color: rgb(55,88,128);
  font: bolder;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  margin-bottom:-40px;
  /*padding: 8px 0px; */
}

.Container{
  width:100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 5px;
}


.form-container{
  height: 480px;
  width: 50%;
  align-items:start;
  display: flex;
  /* margin-top: -12px; */
  flex-direction:column;
  padding:20px;


  p{
    font-size:90%;
   margin: 0;
    width: 90%;
    font-weight:lighter;
    line-height: 20px;
    word-spacing: 2px;
  }
}

.form-inputs{
  font-size:90%;
  width: 100%;
display: flex;
align-items: start;
padding:20px 0px ;
justify-content: center;
flex-direction: column;
gap: 10px;
outline: none;

.star{
  color: red;
}

input,textarea{
  padding: 8px 8px;
  width: 90%;
  outline: none;
  background-color: hsl(0, 0, 94%);
  border: 1px solid rgb(220, 214, 214);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(220, 214, 214,0.2);
}

.form-btn{
  background-color: rgb(255, 188, 18);
  font-weight:600;
  width: 94%;
  color: black;
  border: none;
  cursor: pointer;
}
}

label{
  margin-bottom: -35px;
  
}

input:focus{
  border: 2px solid #ff994f;
}
textarea:focus{
  border: 2px solid #ff994f;
}

.map-container{
  width: 50%;
  padding: 24px;

  .map{
    margin-top: 12px;
  }

}



.boxes{
  height:12.5rem;
  width:100%;
  display: flex;
  justify-content:center;
  gap: 20px;
  align-items: center;

  .box{
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    height:90%;
    width:30%;
    background:linear-gradient(to right,rgb(23,53,89),rgb(39,94,157));
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);

    .anchor-box{
      color: white;
      text-decoration: none;
      font-size: 1.25rem;
    }

    .box-para{
      color: #aeaeae;
      font-family:Arial, Helvetica, sans-serif;
    }

    .box-icon{
      height:80px;
      width:80px;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgb(223,160,10);
    }
    .icons-img{
      
      height: 40px;
      width: 40px;
      
    }
  }
}

.box:hover{
  transform: scale(20px);
}

