.HomeImageslider-container {
  width: 100%;
  height: auto;
  height: auto;
  margin-top: -5.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  /* z-index: 99999; */
}
.slick-track {
  display: inline-flex;
  gap: 1.5rem;
}
.homeslideimg {
  width: 12.5rem;
  height: 12rem;
  border-radius: 0.125rem;
  cursor: pointer;
}
.homeslideimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider {
  display: flex;
  gap: 10px;
}

/* .slider {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  animation: slide 20s linear infinite; 
 } */

.HomeImageslider-container::-webkit-scrollbar {
  display: none;
}
.slider:hover {
  animation-play-state: paused;
}
