@import "../../assest//constant//Constant.css";
.bestValue-container {
  width: 100%;
  height: auto ;
  background-image: url('https://images.unsplash.com/photo-1611659934318-06fd70ced53c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text-main {
  /* width: 100%; */
  height: 80%; 
  padding: 10px;
}
.text-h1-bv {
  text-align: center;
  font: normal normal bold 3.75rem/0px Roboto;
  letter-spacing: 0px;
  color: var(--primary-blue);
  opacity: 1;
}
.bestvalue-card {
  width: 97%;
  height: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 2fr));
  /* grid-template-rows: repeat(auto-fit,minmax(200px,1fr)); */
  gap: 0.75rem;
  padding-left: 1%;
}
/* .card {
  width: 20.625rem;
  height: 20.125rem;
} */
.image-box {
  width: 100%;
  height: 5.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bv-logo {
  width: 6rem;
  height: 6rem;
}
.card-heading {
  font-size: 1.25rem;
  font-family: "Roboto";
  letter-spacing: 0px;
  font-weight: 500;
  color: var(--primary-lightBlue);
  opacity: 1;
  text-align: center;
}
.para-card {
  text-align: center;
  font: normal normal normal 1rem/1.1rem Roboto;
  letter-spacing: 0px;
  color: var(--primary-darkBlue);
  opacity: 1;
}


/*----------------- mobile responsive ----------- */
@media only screen and (max-width: 768px){
  .bestValue-container{
    margin-top: -1.875rem;
    height: auto !important;
  }
  .bestvalue-card {
    width: 100%;
    height: auto;
    /* display: grid; */
    /* justify-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(9.375rem,2fr));
    /* grid-template-rows: repeat(auto-fit,minmax(200px,1fr)); */
    gap: 0.75rem;
    margin-top: 3.125rem;
  }
  .card {
    width: 10.625rem;
    height: auto;
  }
  .text-h1-bv {
    text-align: center;
    font: normal normal bold 1.5rem/0px Roboto;
    letter-spacing: 0px;
    color: var(--primary-blue);
    opacity: 1;
    margin-top: 2rem;
    width: 350px;
  }
  .bv-logo {
    width: 4rem;
    height: 4rem;
  }
  .image-box {
    height: 4rem;
  }
  .card-heading {
    font-size: 1rem;
  }
  .para-card {
    text-align: center;
    font: normal normal normal 0.625rem/1.25rem Roboto;
    letter-spacing: 0px;
    color: var(--primary-darkBlue);
    opacity: 1;
  }
}











/* .... desktop responsive ...... */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .bestValue-container {
    height: 140vh ;
    width: auto;
  }
  .bestvalue-image {
    height: 100%;
  }
  .bestvalue-card {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    /* grid-template-rows: repeat(auto-fit,minmax(200px,1fr)); */
    gap: 0.75rem;
    margin-top: 3rem;
    height: 120vh !important;
    /* background-color: red; */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bestValue-container {
    height: auto;
  }
  .bestvalue-image {
    height: 60vh;
  }
  .bestvalue-card {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    /* grid-template-rows: repeat(auto-fit,minmax(200px,1fr)); */
    gap: 1rem;
    margin-top: 3rem;
    /* height: 70%; */
    /* background-color: green; */
    
  }
  .text-main {
    padding: 20px;
  }
  .text-h1-bv{
    padding-top: 25px;
  }
}

@media only screen and (min-width: 1921px) {
  .bestValue-container {
    height: 45vh;
  }
  .bestvalue-image {
    height: 100%;
  }

  .bestvalue-card {
    height: 30vh;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    /* grid-template-rows: repeat(auto-fit,minmax(200px,1fr)); */
    gap: 0.75rem;
    /* background-color: pink; */

  }

}
