
.about-container{
    /* width: 100%; */
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.about-img{
    width: 50%   
}

.img{
    padding-left:10px ;
    width: 100%;
height: 400px;
border-radius: 5px;
}

.para{
    padding: 80px 10px 20px 0;
    width: 45%;
    height: 400px;
color: #000000;
}
   
@media only screen and (max-width: 768px){
   .para{
    width: 100%;
    height: 300px;
    padding: 30% 5% 3% 12%;
   }

   .about-container{
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

   }

   .about-img{
    width: 100%   
}

.img{
    height: 100%;
}
}