.main-gallery {
  width: 100%;
}

.head-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 0 20px;
}

#g-head {
  padding-left: 20px;
  color: #112742;
}

#g-btn {
  padding: 8px 25px 8px 25px;
  background-color: #ffc436;
  box-shadow: 0px 3px 6px #00000029;
  color: #112742;
  border: none;
}

.gallery-section {
  padding: 10px 30px 10px 30px;
}

.gallery-img {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  overflow: hidden;
}
.g-img {
  width: 100%;
  background-size: contain;
}

.row-2 {
  grid-row: span 2;
}

.col-2 {
  grid-column: span 2;
}

.btn-section {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0 60px 0;
}

#g1-btn {
  background-color: #ffc436;
  padding: 8px 25px 8px 25px;
  box-shadow: 0px 3px 6px #00000029;
  color: #112742;
  border: none;
}

#g2-btn {
  padding: 8px 25px 8px 25px;
  box-shadow: 0px 3px 6px #00000029;
  color: #112742;
  border: none;
}
